In [1]:
import pandas as pd
import sqlite3
import numpy as np

In [26]:
#read in csv files
df_moviegross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df_movieinfo = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter="\t")
df_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter="\t", encoding='unicode_escape)')
df_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz')
df_moviebudgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

#read in database
conn = sqlite3.connect('im.db.zip')
cur = conn.cursor()

In [31]:
pd.read_sql("""SELECT * FROM sqlite_master
  WHERE type='table';""", conn)

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

In [1]:
print(parker)

NameError: name 'parker' is not defined